@{
    ViewBag.Title = "WebStep";
}

<div class="jumbotron">
    <h1>WebStep</h1>
    <p class="lead">My New parapgraph</p>
</div>

<section class="row">
    <article class="col-md-4">
        <h2 class="title">Заглавие на пост</h2>
        <div>
            Публикувано от <i>Бончо Бонев</i> на <i>12-Юли-2016</i>
        </div>
        <div class="post-body">
            <p>
                параграф 1
            </p>
            <p>
                параграф 2
            </p>
        </div>
    </article>
    <article class="col-md-4">
        <h2 class="title">Заглавие на пост</h2>
        <div>
            Публикувано от <i>Иванчо Петков</i> на <i>12-Юли-2016</i>
        </div>
        <div class="post-body">
            <p>
                параграф 1
            </p>
            <p>
                параграф 2
            </p>
        </div>
    </article>
</section>