@using WebStepBlog.Models
@{
    ViewBag.Title = "WebStep";
}

@model IEnumerable<WebStepBlog.Models.Post>
<div class="jumbotron">
    <h1>WebStep</h1>
    <p class="lead">My New parapgraph</p>
</div>

@foreach (var post in Model)
{
    <section class="row">
        <article class="col-md-6">
            <h2 class="title">@post.Title</h2>
            <div>
                Публикувано на <i>@post.Date</i> 
                <i>
                    @if (post.Author != null)
                    {
                        @:от <i>@post.Author.FullName</i>
                    }
                </i>
            </div>
            <div class="post-body">
                <p>
                    @post.Body
                </p>
            </div>
        </article>
    </section>
}
