body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post {
    background: #F3F0F0;
    margin: 1%;
}
.single-post{
    background: #F3F0F0;
    margin:2px;
    border-radius:5px;
}
.comment-info {
    height:20px;
}
.comment-preview {
    width:500px;
}
.comment-body {
    margin-top:10px;
    margin:20px;
    width:500px;
    padding:8px;
    background:#F3F0F0;
    border-radius:10px;
    word-wrap:break-word;
}

.create-post-body {
    background-color: lightyellow;
}
.alert {
    margin-top:10px;
    width:900px;
}
.title {
    text-align:center;
}
.panel-title {
    text-align:center;
}
.panel-body {
    border-bottom:inset;
}

.post-tags {
    margin-top: 10px;
    font-size: 1.2em;
}

.post-tags h4 {
    display: inline;
    color: #081D6F;
}

.navbar {
  background-color: #081D6F;
  border-color: #e7e7e7;
}

.navbar .navbar-brand {
  color: #ffd800;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #E90C22;
  background-color: transparent;
}


.navbar .navbar-text {
  color: #E6E8EE;
}

.navbar .navbar-nav > li > a {
  color: #E6E8EE;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #081D6F;
  background-color: #FFBC01;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #665252;
}



